@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-500: #197CEF;
  --orange-tertiary: #FFBEBE;
  --orange-secondary: #FF6F6F;
  --orange-primary: #F34822;
  --black-primary: #141522;
  --black-secondary: #1E293B;
  --gray-primary: #7C7C7C;
  --gray-secondary: #C2C2C2;
  --blue-primary: #111727;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-500: var(--blue-500);
  --color-orange-tertiary: var(--orange-tertiary);
  --color-orange-secondary: var(--orange-secondary);
  --color-orange-primary: var(--orange-primary);
  --color-black-primary: var(--black-primary);
  --color-black-secondary: var(--black-secondary);
  --color-gray-primary: var(--gray-primary);
  --color-gray-secondary: var(--gray-secondary);
  --color-blue-primary: var(--blue-primary);

  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* will be added later */
}
