@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-500: #197CEF;
  --orange-100: #FFBEBE;
  --orange-200: #FF6F6F;
  --orange-500: #F34822;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-500: var(--blue-500);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-500: var(--orange-500);

  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* will be added later */
}
